@charset "UTF-8";

/* 
    em HTML é id = em CSS é #
    em HTMl é class = em CSS é .
*/

body {
    background-color: rgb(219, 170, 79);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(172, 119, 21);
}
h2 {
    color: rgb(197, 142, 39);
}
p {
    color: orangered;
}

#principal {
    color: blue;
    text-align: center;
}

.basico{
    color: green;
}
.intermediario{
    color: aquamarine;
}
.avancado{
    color: burlywood;
}